<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @page_title %></title>
  <meta name="description" content="<%= @page_description %>" />
  <meta name="keywords" content="<%= @page_keywords %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="md">
		<div class="wrapper">
			<%= render :partial => 'structure/header' %>
				<div class="middle-part">
					<%= render :partial => 'pages/top_menu' %>
					<%= yield %>
				<span class="tide"></span>
			</div>
			<%= render :partial => 'structure/footer' %>
		</div>
	</div>
</body>
</html>